
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 60vw;
    margin: 2rem auto;
}

header { text-align: center; }

/* utility */
.spacer-x > * + * {
    margin-left: 0.5rem;
}

.spacer-y > * + * {
    margin-top: 2rem;
}

.emphasize { 
    font-weight:600;
    color: rgb(195, 28, 87);
}

/* reading tracker css */
.tracker-tabs {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.active-tab {
    font-weight: 600;
    border-bottom: 2px dotted rgb(195, 28, 87);
}

.currently-reading {
    display: flex;
    flex-direction: column;
}

.tracker-entry {
    display: flex;
    gap: 1rem;
}

.tracker-entry-img {
    width: 8rem;
    height: 12rem;
}

.tracker-entry-text {
    align-self: flex-end;
}
.tracker-entry-text h3 {
    font-size: 2rem;
}

/* search form + results */
.search-results-entry {
    border: 1px solid gray;
    background-color: rgb(244, 244, 244);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

button {
    padding-left: 1rem;
    padding-right: 1rem;
}