
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-container {
    width: 60vw;
    margin: auto;
}

@media (max-width: 768px) {
.layout-container {
    width: 95%;
    margin: auto;
}
    
}
.layout-container > * + * {
    margin-top: 1rem;
}
