
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-container {
    width: 60vw;
    margin: auto;
}

.layout-container > * + * {
    margin-top: 1rem;
}

header { 
    text-align: left; 
}
